In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# we can download csv file from kaggle as houseprediction
dataset =pd.read_csv("C:\\Users\\ADITYA\\Downloads\\Comp1_set.csv",)
dataset.head(50)

,Unnamed: 0,Apartment,Society,Location,Price,Price/sqft,SqftArea,Construction_Status,Year's Old,bathrooms,type of property
0,0,2 BHK Apartment,NaN,Baruipur,32 L,"3,265 / sq ft",980,Ready to move,NaN,2 Bathrooms,Resale
1,1,2 BHK Apartment,NaN,Garia,36 L,"4,645 / sq ft",775,Ready to move,NaN,2 Bathrooms,Resale
2,2,2 BHK Independent Floor,NaN,Baranagar,24 L,"3,243 / sq ft",740,Ready to move,NaN,1 Bathrooms,Resale
3,3,1 BHK Apartment,NaN,Garia,30 L,"5,859 / sq ft",512,Ready to move,NaN,1 Bathrooms,Resale
4,4,2 BHK Apartment,NaN,Dhakuria,1.14 Cr,"10,654 / sq ft",1070,Ready to move,NaN,2 Bathrooms,Resale
5,5,3 BHK Apartment,Rajwada Emeralds,Narendrapur,68 L,"5,151 / sq ft",1320,Ready to move,4 - 5 years old,2 Bathrooms,Resale
6,6,3 BHK Apartment,NaN,Bramhapur,35 L,"2,536 / sq ft",1380,Ready to move,6 - 7 years old,2 Bathrooms,Resale
7,7,3 BHK Independent House,NaN,south dum dum,85 L,"4,250 / sq ft",2000,Ready to move,7 - 8 years old,2 Bathrooms,Resale
8,8,2 BHK Apartment,NaN,Uttarpara Kotrung,20 L,"2,702 / sq ft",740,Ready to move,NaN,1 Bathrooms,Resale
9,9,2 BHK Apartment,NaN,New Town,35 L,"4,046 / sq ft",865,Ready to move,NaN,2 Bathrooms,Resale
10,10,6 BHK Independent House,NaN,Tollygunge,75 L,"3,000 / sq ft",2500,Ready to move,NaN,6 Bathrooms,Resale
11,11,2 BHK Apartment,NaN,Garia,41 L,"4,480 / sq ft",915,Ready to move,NaN,2 Bathrooms,Resale
12,12,3 BHK Apartment,NaN,Jadavpur,55 L,"4,435 / sq ft",1240,Ready to move,NaN,3 Bathrooms,Resale
13,13,2 BHK Apartment,NaN,Patuli,50 L,"5,452 / sq ft",917,Ready to move,NaN,2 Bathrooms,Resale
14,14,Residential Plot,Debrupayan Nagar,Sodepur,13 L,902 / sq ft,1440,Resale,3 - 4 years old,NaN,NaN
15,15,4 BHK Independent House,NaN,Gariahat,2.5 Cr,"10,000 / sq ft",2500,Ready to move,NaN,5 Bathrooms,Resale
16,16,3 BHK Apartment,NaN,Howrah Railway Station,1.05 Cr,"7,425 / sq ft",1414,Ready to move,6 - 7 years old,2 Bathrooms,Resale
17,17,3 BHK Apartment,NaN,Serampore,27 L,"2,518 / sq ft",1072,Ready to move,NaN,3 Bathrooms,Resale
18,18,7 BHK Villa,NaN,Budge Budge,3 Cr,"7,894 / sq ft",3800,Ready to move,NaN,5 Bathrooms,Resale
19,19,2 BHK Apartment,NaN,Garden Reach,15.55 L,"2,828 / sq ft",550,Ready to move,6 - 7 years old,1 Bathrooms,Resale
20,20,2 BHK Apartment,NaN,Behala,38 L,"4,935 / sq ft",770,Ready to move,NaN,1 Bathrooms,Resale
21,21,2 BHK Apartment,NaN,Behala,22 L,"3,098 / sq ft",710,Ready to move,NaN,2 Bathrooms,Resale
22,22,3 BHK Apartment,Sheltercon Arunoday,Nayabad,58 L,"4,531 / sq ft",1280,Ready to move,NaN,2 Bathrooms,Resale
23,23,2 BHK Apartment,Reputed Builder Bally Ganga Apratments,Bally,45 L,"4,090 / sq ft",1100,Ready to move,4 - 5 years old,2 Bathrooms,Resale
24,24,2 BHK Apartment,Reputed Builder Dumdum plaza,south dum dum,26 L,"4,727 / sq ft",550,Ready to move,4 - 5 years old,1 Bathrooms,Resale
25,25,2 BHK Apartment,Avidipta Avidipta,Santoshpur,1.35 Cr,"10,522 / sq ft",1283,Ready to move,7 - 8 years old,2 Bathrooms,Resale
26,26,Residential Plot,NaN,Jodhpur Park,85 L,"5,862 / sq ft",1450,Resale,NaN,NaN,NaN
27,27,3 BHK Apartment,Srijan Ozone,Narendrapur,1.8 Cr,"11,271 / sq ft",1597,Ready to move,0 - 1 year old,3 Bathrooms,Resale
28,28,2 BHK Apartment,DTC Southern Heights,Joka,56 L,"5,957 / sq ft",940,Ready to move,NaN,2 Bathrooms,Resale
29,29,2 BHK Independent House,NaN,Madhyamgram,45 L,"3,202 / sq ft",1405,Ready to move,NaN,2 Bathrooms,Resale
30,30,2 BHK Apartment,NaN,Kaikhali,32 L,"3,575 / sq ft",895,Ready to move,NaN,2 Bathrooms,Resale
31,31,2 BHK Apartment,SK Royal Complex,Uttarpara Kotrung,32 L,"3,516 / sq ft",910,Ready to move,7 - 8 years old,2 Bathrooms,Resale
32,32,2 BHK Independent House,NaN,Barasat,16 L,"1,111 / sq ft",1440,Ready to move,NaN,2 Bathrooms,Resale
33,33,2 BHK Independent House,NaN,Sarsuna,40 L,"2,247 / sq ft",1780,Ready to move,NaN,2 Bathrooms,Resale
34,34,3 BHK Apartment,NaN,Barrackpore,34 L,"3,683 / sq ft",923,Ready to move,NaN,2 Bathrooms,Resale
35,35,2 BHK Apartment,NaN,Kasba,32 L,"4,210 / sq ft",760,Ready to move,NaN,1 Bathrooms,Resale
36,36,2 BHK Apartment,NaN,Barisha Purba Para Road,30 L,"3,448 / sq ft",870,Ready to move,6 - 7 years old,2 Bathrooms,Resale
37,37,2 BHK Apartment,Sweet Sinjini Apartment,Rajarhat,26 L,"3,421 / sq ft",760,Ready to move,9 - 10 years old,2 Bathrooms,Resale
38,38,2 BHK Apartment,NaN,Tollygunge,32 L,"4,481 / sq ft",714,Ready to move,NaN,2 Bathrooms,Resale
39,39,2 BHK Apartment,NaN,Birati,35 L,"4,861 / sq ft",720,Ready to move,NaN,2 Bathrooms,Resale
40,40,1 BHK Apartment,Srijan Star Srijan Swapno Puron Phase II,Amtala,16.1 L,"3,642 / sq ft",442,Ready to move,1 year old,NaN,New
41,41,2 BHK Apartment,Srijan Star Srijan Swapno Puron Phase II,Amtala,22.67 L,"3,638 / sq ft",623,Ready to move,1 year old,2 Bathrooms,New
42,42,3 BHK Apartment,Srijan Star Srijan Swapno Puron Phase II,Amtala,34.1 L,"3,616 / sq ft",943,Ready to move,1 year old,2 Bathrooms,New
43,43,2 BHK Apartment,Srijan Star Srijan Swapno Puron Phase II,Amtala,19.1 L,"3,687 / sq ft",518,Ready to move,1 year old,1 Bathrooms,New
44,44,2 BHK Apartment,Siddha Suburbia,Narendrapur,55 L,"5,308 / sq ft",1036,Ready to move,2 - 3 years old,2 Bathrooms,New
45,45,2 BHK Apartment,Silver Vista,Lake Town,63 L,"5,250 / sq ft",1200,Ready to move,0 - 1 year old,NaN,New
46,46,3 BHK Apartment,Silver Vista,Lake Town,73.5 L,"5,250 / sq ft",1400,Ready to move,0 - 1 year old,3 Bathrooms,New
47,47,2 BHK Apartment,NaN,Sarsuna,23 L,"3,066 / sq ft",750,Ready to move,NaN,2 Bathrooms,Resale
48,48,3 BHK Apartment,Citadel Silver Space,Madhyamgram,68 L,"5,070 / sq ft",1341,Ready to move,5 - 6 years old,2 Bathrooms,Resale
49,49,Residential Plot,Amtala City,Amtala,9.99 L,555 / sq ft,1800,New,0 - 1 year old,NaN,NaN

In [2]:
dataset.shape

(340, 11)

# step2 :Data preprocessing

In [6]:
obj = (dataset.dtypes == 'object')
object_cols = list(obj[obj].index)
print("Categorical variables:", len(object_cols))

int_ = (dataset.dtypes == 'int')
num_cols = list(int_[int_].index)
print("Integer variables:", len(num_cols))

fl = (dataset.dtypes == 'float')
fl_cols = list(fl[f1].index)
print("Float variables:", len(fl_cols))

NameError: name 'dataset' is not defined

# Step 3: Exploratory Data Analysis

In [12]:
numerical_dataset = dataset.select_dtypes(include=['number'])

plt.figure(figsize=(12, 6))
sns.heatmap(numerical_dataset.corr(),
cmap = 'BrBG',
fmt = '.2f% ',
linewidths = 2,
annot = True)

NameError: name 'dataset' is not defined