# lecture - 2
# variables & Data types in python
# create a variable

In [6]:
x = 5
print(x)

5

In [7]:
a = 10
b = 6.5
c = "aditya"
print(a,b,c)

10 6.5 aditya

In [8]:
y = "we are learning python"
print(y)

we are learning python

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    6.5
c          str      aditya
x          int      5
y          str      we are learning python

In [10]:
# Rules for python variable:

# A Variable name must start with a letter or the underscore character

In [11]:
apple = 23
print(apple)

23

In [12]:
apple_box = 2.3
print(apple_box)

2.3

In [13]:
_5 = 7
print(_5)

7

In [14]:
_z = 6.3
print(_z)

6.3

In [15]:
mnp_ = 5 
print(mnp_)

5

# Variable name cannot start with a number

In [19]:
1 == 5 
print(1)

1

In [20]:
1_apple = 213
print(1_apple)

SyntaxError: invalid decimal literal (3104225020.py, line 1)

In [21]:
apple_1 = 12
print(apple_1)

12

# A Variable name can only contain alpha- numeric characters and underscore (a-z, 0-9,and_)

In [22]:
abc123nmp = 23
print(abc123nmp)

23

In [28]:
abc123456789 = 1
print(abc123456789)

1

In [29]:
#$@ = 25
print(#$@)

_IncompleteInputError: incomplete input (2143033454.py, line 2)

# Variable name are case-sensetive(age, Age and AGE are three different variables)

In [10]:
age = 20
Age = 21
AGE = 22
aGE = 23
print(age)

20

# Data types in python

In [14]:
a = 2
b = 6.5
c = "aditya"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [15]:
v = 2+3j
print(type(v))

<class 'complex'>

In [16]:
num = [23,45,68]
print(num)
print(type(num))

[23, 45, 68]
<class 'list'>

In [20]:
num1 = True
print(num1)

True

In [21]:
num1 = False
print( type(num1))

<class 'bool'>

# A Variable name cannot be any of the the Python keywords.

In [22]:
print = 12
print(print)

TypeError: 'int' object is not callable

In [23]:
int = 2
print(int)

TypeError: 'int' object is not callable

# Question practice 1

In [2]:
first_name = "John"
last_name = 'Doe'
full_name = first_name + " " + last_name
print(full_name)

John Doe

# Question practice 2

In [3]:
x = 5
x = 10
print(x)

10

In [9]:
name = 5
name_1 = str(name)
print(name)
print(type(name))

5
<class 'int'>