# lecture 24 - Dictionary in python - part2

In [3]:
def create_product_inventory(num_products):
    inventory = {}
    for i in range(1, num_products +1 ):
        product_id = int(input("enter product id {i}: "))
        product_name = input("enter product name for id {product_id}: ")
        inventory[product_id] = product_name
    return inventory

num_products = int(input("enter the number of products: "))
inventory_dict = create_product_inventory(num_products)
print("\nproduct inventory:")
print(inventory_dict)

enter the number of products:  5
enter product id {i}:  23
enter product name for id {product_id}:  facewash
enter product id {i}:  52
enter product name for id {product_id}:  glowcream
enter product id {i}:  54
enter product name for id {product_id}:  hairwax
enter product id {i}:  32
enter product name for id {product_id}:  vasceline
enter product id {i}:  42
enter product name for id {product_id}:  dtan

product inventory:
{23: 'facewash', 52: 'glowcream', 54: 'hairwax', 32: 'vasceline', 42: 'dtan'}

# characteristics of thr dictionary
# Asessing values using keys

In [7]:
person = {
    'name': "aditya",
    'age': 21,
    'city': "Dhanbad"
}

In [10]:
print(person['name'])

aditya

In [12]:
print(person['city'])

Dhanbad

# flexible key types
while keys in dictionaries must be unique, they can be of various data types, including strings, integers, float, and tuple (if they contain only hasable objects).
isme hamlog list or dictionary nhi le skte

In [15]:
# isme ak hi bar name show kr rha to yad  rakhna key hamesa unique hona chahiye tb alag alag name show karega
person = {
    'name': "aditya",
    'age': 21,
    'name': "aman"
}

In [16]:
print(person)

{'name': 'aman', 'age': 21}

In [18]:
data = {
    'name': 'aditya',
    123: "integer key",
    (1,2): "tuple key"
}

In [19]:
print(data)

{'name': 'aditya', 123: 'integer key', (1, 2): 'tuple key'}

In [20]:
data = {
    'name': 'aditya',
    123: "integer key",
    (1,2): "tuple key",
    [1,2]: "list key"
}

TypeError: unhashable type: 'list'

In [21]:
data = {
    'name': 'aditya',
    123: "integer key",
    (1,2): "tuple key",
    {1,2}: "list key"
}

TypeError: unhashable type: 'set'

# duplicate not allowed

In [23]:
dict = {
    'id': '125fd67',
    'color': 'red',
    'year': 1984,
    'year': 2000
}

In [24]:
print(dict)

{'id': '125fd67', 'color': 'red', 'year': 2000}