# lecture 21
# sets parts 2
# true and 1 are considered as same value

In [4]:
# yad rakhna set m true ko 1 se consider karte hai
a = {'animal',"ball",1,20,52,5.4,56,True}
print(a)

{1, 20, 5.4, 52, 56, 'ball', 'animal'}

In [6]:
# yad rakhna set m False ko 0 se consider karte hai
a = {'animal',"ball",1,20,52,5.4,56,True,0,False}
print(a)

{0, 1, 5.4, 'animal', 20, 52, 56, 'ball'}

In [7]:
#agar isme 1 nhi likhe to ye true hi output dega
a = {'animal',"ball",20,52,5.4,56,True}
print(a)

{True, 20, 5.4, 52, 56, 'ball', 'animal'}

In [8]:
#agar isme 0 nhi likhe to ye false hi output dega
a = {'animal',"ball",20,52,5.4,56,False}
print(a)

{False, 20, 5.4, 52, 56, 'ball', 'animal'}

# nested is not a propery of the set

In [12]:
a = {{11,12,13},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# check if item is present int the set or not

In [10]:
a = {"data","aditya","python"}
print("aditya" in a)

True

In [11]:
b = {"aditya","anil","ankit",2,5,45}
print(5 in b)

True

# get the length of the set

In [15]:
# isme 10 isliye aa rha q ki 23 ,23 repeat hai 2 bar to set m ak hi count karte hai
a = {"animal","bat","cat",12,54,6,45,23,87,23,56}
print(len(a))

10

# Add items

# once a set is created, you cnnot change the items but you can add the new items

In [17]:
a = {"a1","b1","c1",1,2,3}
a.add("d1")
print(a)

{1, 2, 3, 'd1', 'b1', 'a1', 'c1'}

# update method

In [18]:
x = {"data","python","code"}
y = {10,20,30,40,50,60,70}

x.update(y)
print(x)

{70, 40, 10, 'code', 'data', 50, 20, 'python', 60, 30}

# remove items from the set

In [20]:
n = {70,40,10,"code","data","science",42,12,36,77,23,5.2,6.6}
n.remove("code")
print(n)

{36, 5.2, 6.6, 70, 40, 10, 42, 12, 77, 'data', 23, 'science'}

# pop method

In [21]:
# ye random ak no remove kr dega 
a = {15,23,45,75,96,521,89}
c = a.pop()
print(a)
print(c)

{89, 23, 521, 75, 45, 15}
96

In [23]:
x = {'code','apple','aditya',23,56,25,45,9.4}
y = x.pop
print(y)
print(x)

<built-in method pop of set object at 0x000002371ED199A0>
{'aditya', 9.4, 'apple', 45, 'code', 23, 56, 25}

# clear method

In [25]:
x = {'code','apple','aditya',23,56,25,45,9.4}
x.clear()
print(x)

set()

In [28]:
# ye delete method kam nhi krega q ki delete likhne se memeory se delete ho jata hai
x = {'code','apple','aditya',23,56,25,45,9.4}
del x
print(x)

NameError: name 'x' is not defined