# tuples - part3

# lecture 19
# once a tuple is created, you cannot change its values. tuple are unchangable, or immutable as it also is called.

# convert tuple into list

In [1]:
x = ("data","python","science","swati")
print(x)
print(type(x))

y = list(x)
print(y)
print(type(y))

('data', 'python', 'science', 'swati')
<class 'tuple'>
['data', 'python', 'science', 'swati']
<class 'list'>

# add items

In [4]:
a = (25,2,27,28,29)
y = list(a)
print(y)
print(type(y))

y.append(30)
print("the new list is")
print(y)

x = tuple(y)
print("the new item added on tuple is ")
print(x)

[25, 2, 27, 28, 29]
<class 'list'>
the new list is
[25, 2, 27, 28, 29, 30]
the new item added on tuple is
(25, 2, 27, 28, 29, 30)

# Add tuple to a tuple

In [5]:
tup1 = ("python","data","science",'aditya')
y = ("code",)
tup1+=y
print(tup1)

('python', 'data', 'science', 'aditya', 'code')

# Remove items

In [7]:
fruits = ("apple","banana","cherry","date","fig")
fruit_list = list(fruits)
print(fruit_list)

fruit_list.remove("cherry")
print(fruit_list)

fruit_tup = tuple(fruit_list)
print(fruit_tup)

['apple', 'banana', 'cherry', 'date', 'fig']
['apple', 'banana', 'date', 'fig']
('apple', 'banana', 'date', 'fig')

# changing the item in a tuple

In [8]:
x = ("apple","banan","cherry","date","fig")
y = list(x)
print(y)

['apple', 'banan', 'cherry', 'date', 'fig']

# del keyword

In [9]:
x - (2,5,85,654,4,8)
del x

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

# loop through a tuple

In [10]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

# join two tuples

In [11]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)

tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# multiply tuples

In [13]:
fruit = ("apple","banana","cherry")
mytup = fruit*3
print(mytup)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')