# lecture 3
# Arithmetic operator
# adition

In [ ]:
a = 1
b = 3
print(a+b)

4

In [ ]:
x = 1.5 
y = 2.3
print(x+y)

3.8

In [ ]:
a1 = "hello"
b1 = "aditya"
print(a1 + b1)

helloaditya

In [ ]:
a1 = "hello"
b1 = "aditya"
print(a1 + " " + b1)

hello aditya

In [ ]:
x1 = 2+3j
y1 = 1+5j
print(x1 + y1)

(3+8j)

In [ ]:
w1 = -6
w2 = 3
print(w1+w2)

-3

# subtraction operator

In [ ]:
num1 = 8
num2 = 4
print(num1 - num2)

4

In [ ]:
a1 = 5.67
b1 = 2.34
print(a1 - b1)

3.33

In [ ]:
a5 = "hello"
a6 = "student"
print(a5 - a6)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
a6 = 5+9j
b6 = 3+5j
print(a6 - b6)

(2+4j)

# multiplication

In [ ]:
n = 3
b = 5 
print(n*b)

15

In [ ]:
n = 3.56
b = 5.85
print(n*b)

20.826

In [ ]:
str = "hello"
print(str*5)

hellohellohellohellohello

In [1]:
str1 = "hello"
str2 = "world"
print(str1*str2)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
str1  = "hello i am aditya "
print(str1*5)

hello i am aditya hello i am aditya hello i am aditya hello i am aditya hello i am aditya

In [ ]:
a1 = 2+3j
b1 = 3+4j
print(a1*b1)

(-6+17j)

# Divison

In [ ]:
a = 15
b = 3
print(a/b)

5.0

In [ ]:
a1  = 154.45879213
b1 = 23.5427698
print(a1/b1)

6.5607740058690975

In [ ]:
com1 = 2+3j
com2 = 1+2j
print(com1/com2)

(1.6-0.2j)

In [ ]:
str1 = "hello"
str2 = "stdudent"
print(str1/str2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# modulus

In [ ]:
print(12%5)

2

In [ ]:
print(65323565%546)

125

In [ ]:
a1 = 45.4552556
b1 = 21
print(a1%b1)

3.455255600000001

In [ ]:
print(12//3)

4

In [7]:
a1 = 12.3647
b1 = 4.568
print(a1//b1)

2.0

# exponent

In [ ]:
 a = 3
 b = 2
print(a**b)

9

In [ ]:
w = 60
h = 5
v = h**2
print(w/v)

2.4

In [ ]:
print(5.25478**3)

145.09873122151538

# Boolean operator

In [ ]:
a = True
print(type(a))

<class 'bool'>

In [ ]:
a1 = False
print(type(a1))

<class 'bool'>

# comparison operator
In python, comparison operators are used to compare values.These operators return True or false based on wether the comparison is true or false

equal to ==

In [ ]:
x = 5
y = 5
print(x==y)

True

In [ ]:
x = 6
y = 5
print(x==y)

False

not equal to !=

In [ ]:
x = 5
y = 3
print(x!=y)

True

In [ ]:
x = 5
y = 5
print(x!=y)

False

greater than>

In [ ]:
x = 5
y = 13
print(x>y)

False

less than<

In [ ]:
x = 12
y = 7
print(x<y)

False

In [ ]:
print(10<850)

True

greater than equal to >=

In [ ]:
x = 5
y = 5
print(x>=y)

True

less than equal to <=

In [ ]:
x = 5
y = 5
print(x<=y)

True

# Logical operator

In [ ]:
x = True
y = False
print(x and y)

False

In [ ]:
x = True
y = False 
print (x or y)

True

In [ ]:
x = True
print(not x)

False

In [ ]:
x  = False 
print(not x)

True

# Question practice 3
write a python program to calculate the are of circle with a radius of 12 cm.

In [1]:
# Area of a circle = pi *r2
radius = 12
pi = 3.14
area = pi * (radius**2)
print("area of circle is :", area)

area of circle is : 452.16