# Lecture 17 - tuples

# tuples in python part 1

# creating a tuple

In [3]:
a = (10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [4]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

# single element

In [6]:
#single element m tuple use karenge to isme yad rakhna integer type ka data lega isliye (,) lagyange tb tuple show karega
b = (5)
print(b)
print(type(b))

5
<class 'int'>

In [8]:
# ye right way hai single element likhne ka tuple format mai 
b = (5,)
print(b)
print(type(b))

(5,)
<class 'tuple'>

# a tuple with mixed a data type

In [9]:
a = (1,2,3,"aditya","ankit",True)
print(a)
print(type(a))

(1, 2, 3, 'aditya', 'ankit', True)
<class 'tuple'>

# nested tuples

In [10]:
a = ("mouse", 2.3, (10,20,30))
print(a)
print(type(a))

('mouse', 2.3, (10, 20, 30))
<class 'tuple'>

In [11]:
num = ([12,14,16], [14,78,96])
print(num)
print(type(num))

([12, 14, 16], [14, 78, 96])
<class 'tuple'>

 # tuple constructor

In [12]:
empty = tuple()
print(empty)
print(type(empty))

()
<class 'tuple'>

# converting list into tuple

In [13]:
list = [1,2,3,4]
number = tuple(list)
print(number)
print(type(number))

(1, 2, 3, 4)
<class 'tuple'>

# converting string into a tuple

In [15]:
string_example = "hello"
print(string_example)
print(type(string_example))
tuple1 = tuple(string_example)
print(tuple1)
print(type(tuple1))

hello
<class 'str'>
('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

# converting dictionary into a tuple

In [20]:
dict_example = {'a':1, 'b':2, 'c':3}
print(dict_example)
print(type(dict_example))
tup = tuple(dict_example)
print(tup)
print(type(tup))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

# converting a set into a tuple

In [22]:
set_example = {1,2,3,4}
print(set_example)
print(type(set_example))
tup1 = tuple(set_example)
print(tup1)
print(type(tup1))

{1, 2, 3, 4}
<class 'set'>
(1, 2, 3, 4)
<class 'tuple'>