# Lecure 9

# for loop in python

In python, a for loop is used to iterate over a sequence(such as a list, string, dictonary, or range) and execute a block of code each item in the sequence

In [2]:
number = [1,2,3,4,5]
for i in number:
    print(i)

1
2
3
4
5

In [3]:
x = "student"
for i in x:
    print(i)

s
t
u
d
e
n
t

In [6]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

# for loop and if condition

In [10]:
for i in range(0,21):
    if i%2 ==0:
        print("the number is even",i)

the number is even 0
the number is even 2
the number is even 4
the number is even 6
the number is even 8
the number is even 10
the number is even 12
the number is even 14
the number is even 16
the number is even 18
the number is even 20

In [6]:
for i in range(0,11):
    if i%2 ==0:
        print("the number is even",i)
    else:
        print("the number is odd",i)

the number is even 0
the number is odd 1
the number is even 2
the number is odd 3
the number is even 4
the number is odd 5
the number is even 6
the number is odd 7
the number is even 8
the number is odd 9
the number is even 10

# Implement a python program to generate the multiplication table a given number using a for loop

In [3]:
number = int(input("enter a number to generate its multiplication table"))
print("the multplication table of",number)
for i in range(1,11):
    print(f"{number} * {i} = {number *i}")

enter a number to generate its multiplication table 10

the multplication table of 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# practice question

In [1]:
num_item = int(input("enter the number of items purchesed"))
total_price = 0
for i in range(num_item):
    price = float(input("enter the price of the item"))
    total_price = total_price+price
    i = i+1
if total_price >= 100:
    discount = 0.1*total_price
elif 50<= total_price <100:
    discount = 0.5*total_price
else:
    discount = 0
total_bill = total_price - discount
print("subtotal",total_bill)

enter the number of items purchesed 5
enter the price of the item 45
enter the price of the item 60.5
enter the price of the item 25.3
enter the price of the item 84
enter the price of the item 63.7

subtotal 250.65

# break statment

In [2]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [3]:
for i in range(8):
    if i == 5:
        break
    print(i)

0
1
2
3
4

# continue statement

In [4]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

# lecture 10
user defined functions

# creating and calling a function

In [5]:
def my_function():
    print("hello i am aditya")

In [6]:
my_function()

hello i am aditya

In [9]:
def details_bill():
    print("the laste date of the bill payment is on text week sunday")
    print("after deadline, you need to pay rs 100 as a fine")
    print("pay your bill soon")

In [10]:
for i in range(3):
    a = input("enter your name")
    b = int(input("enter the unit os electricity you have consumed"))
    bill = b *10
    print("total amount of bill you need to pay is", bill)
    details_bill()

enter your name aditya
enter the unit os electricity you have consumed 500

total amount of bill you need to pay is 5000
the laste date of the bill payment is on text week sunday
after deadline, you need to pay rs 100 as a fine
pay your bill soon

enter your name ankit
enter the unit os electricity you have consumed 200

total amount of bill you need to pay is 2000
the laste date of the bill payment is on text week sunday
after deadline, you need to pay rs 100 as a fine
pay your bill soon

enter your name anil
enter the unit os electricity you have consumed 240

total amount of bill you need to pay is 2400
the laste date of the bill payment is on text week sunday
after deadline, you need to pay rs 100 as a fine
pay your bill soon

In [ ]:
def room_rent():
    print("the last date of payment is sunday")
    print("after deadline, you need to pay rs 50 as a fine")
    print("pay your soon")

In [3]:
for i in range(2):
    a = input("enter your name")
    b = int(input("enter your month you have to live"))
    month = b * 1000
    print("total amount of month you need to payis",month)
    room_rent()

enter your name aditya
enter your month you have to live 5

total amount of month you need to payis 5000

NameError: name 'room_rent' is not defined